* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  font-family: "Calibri";
}

body {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 2rem;
  background-color: #000000;
  z-index: 10;
}

.page {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

#main-menu {
  display: flex;
  width: 50%;
  margin: 0px auto;
}

#main-menu a {
  flex-grow: 1;
  text-align: center;
  display: block;
  padding: 0.4rem 0;
  text-decoration: none;
  transition: 500ms;
  color: #ffbe00;
}

#main-menu a:hover {
  color: white;
}

.header-text {
  background: url("images/Background/nasa.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #ffbe00;
}

.header-text h1 {
  font-size: 5rem;
  font-weight: bold;
}

.header-text h2 {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

#header {
  padding: 40vh;
  width: 50%;
  margin: auto;
}

.skill {
  font-size: 2.5rem;
  background-color: #ffbe00;
  padding: 4rem;
}

.skill h2 {
  padding-bottom: 2rem;
}

.skills {
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
}

.skills img {
  height: 4rem;
  width: 4rem;
}

#skillz {
  display: flex;
  flex-wrap: wrap;
}

#git1 {
  flex-grow: 1;
  margin: 1rem;
  width: 8rem;
}

.portfolio {
  background-color: #000000;
  height: fit-content;
  padding: 4rem;
}

.portfolio h2 {
  font-size: 3rem;
  color: #ffbe00;
  margin-bottom: 2rem;
}

.project {
  width: 50%;
  margin: 0 auto 1rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: left;
  background-color: #ffbe00;
}

.project-title {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.github-button {
  color: #000;
  background-color: #74B9FF;
  border: none;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.github-button:hover {
  background-color: #ffbe00;
  color: black;
  cursor: pointer;
}

.github-button img {
  height: 30px;
  width: 30px;
  flex: 1;
  flex-basis: 0;
  margin-top: 5px;
}

.github-button p {
  flex: 1;
  flex-basis: 0;
  text-align: left;
}

.contact {
  height: 75vh;
  background: url("images/Background/code.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.contact h2 {
  margin: 0;
  font-size: 30pt;
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: #ffffff;
}

form {
  margin-top: 50px;
}

.form {
  width: 600px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #107dac;
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
  border-radius: 10px;
}

input {
  height: 45px;
  padding-left: 10px;
}

textarea {
  padding-left: 10px;
}

.status {
  font-weight: bold;
}

.submit {
  background-color: #107dac;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

.submit:hover {
  background-color: #000000;
  color: #107dac;
  cursor: pointer;
}

.footer {
  background-color: #ffbe00;
}

.social {
  height: 20vh;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.social div {
  flex-grow: 1;
  flex-basis: 0;
}

.social img {
  height: 50px;
  width: 50px;
}

.copyright {
  padding-bottom: 20px;
}

@media (min-width: 1025px) and (max-width: 1366px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
}
